k8s/*.yaml
k8s/rhcoa/examN.txt
k8s/rhcoa/exams.zip
k8s/rhcoa/exams/devops-exercises/myidentity
k8s/rhcoa/exerciseN.txt
linux/rhce/.vagrant/
k8s/rhcoa/exams/anishrana2001/htpasswd
k8s/rhcoa/exams/anishrana2001/*.yaml
k8s/rhcoa/exams/anishrana2001/*.csr
k8s/rhcoa/exams/anishrana2001/*.crt
k8s/rhcoa/exams/anishrana2001/*.key
k8s/rhcoa/exams/anishrana2001/must*
k8s/rhcoa/exams/anishrana2001/student*
