Bem-vindo ao laboratório RHCE!

Host: {{ ansible_facts['nodename'] | default(inventory_hostname) }}
Controle este ambiente a partir de ansible.rhce.lab.

Lembre-se de testar suas playbooks e salvar comandos úteis.
